<div style="background-color: #f1f1f1;padding: 10px;margin: 10px; border-radius: 3%;" class="align-items-center">
<div class="post-title d-flex align-items-center">
  <div class="profile-thumb">
    <a href="#">
      <figure class="profile-thumb-small">
        <img src="[PROFILEPIC]">
      </figure>
    </a>
  </div>

  <div class="posted-author">
    <p class="commentauthor">[COMMENTAUTHOR] - [COMMENTDATE]</p>
  </div>

</div>
  <hr>
  <p class="post-desc pb-0" style="font-size: 12px">
    [COMMENTCONTENT]
  </p>
</div>