<div class="container_logsign">
  <h1>Effettua il login</h1>
  <img src="../logo_white.png" alt="" style="width: 120px; height: 120px; margin-right: auto; margin-left: auto; display: block">
  <form method="post" action="/login">
    <div class="form-control" style="background-color: #ff0008; color: white; border:transparent">
      <input type="text" name="username" required>
      <label>Email</label>
    </div>

    <div class="form-control" style="background-color: #ff0008; color: white; border:transparent">
      <input type="password" name="password" required>
      <label>Password</label>
    </div>

    <button class="btn" type="submit">Login</button>

    <p class="text">Non hai un account? <a id="btn-signup">Registrati</a> </p>
  </form>
</div>
<script>
  const labels3 = document.querySelectorAll('.form-control label')

  labels3.forEach(label => {
    label.innerHTML = label.innerText
            .split('')
            .map((letter, idx) => `<span style="transition-delay:${idx * 50}ms">${letter}</span>`)
            .join('')
  })
</script>

