<div class="card">
    <div class="post-title d-flex align-items-center">
        <div class="profile-thumb">
            <a href="#">
                <figure class="profile-thumb-middle">
                    <img src="[PROFILEPIC]">
                </figure>
            </a>
        </div>

        <div class="posted-author">
            <h6 class="author">[USERNAME]</h6>
            <span class="post-time">[DATE]</span>
        </div>
        <div class="post-settings-bar">
            <span></span>
            <span></span>
            <span></span>
            <div class="post-settings arrow-shape">
                <ul>
                    <li>
                        <button class="btn-delete-post" id-post="[ID]">Cancella Post</button>
                    </li>
                    <li>
                        <button class="btn-edit-post" id-post="[ID]" data-toggle="modal"
                                data-target="#modal-edit-post">Modifica Post
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="post-content">
        <p class="post-desc pb-0">
            [CONTENT]
        </p>
        <div class="append-img" id-post="[IDPOST]"></div>
        <hr>
        <div class="share-content-box w-100">
            <form class="share-text-box  align-items-center">
                                    <textarea name="share" class="share-text-field" id-post="[IDPOST]"  aria-disabled="true"
                                              placeholder="Scrivi commento..." ></textarea>
                <button class="btn-share" id-post="[IDPOST]" type="button">Commenta</button>
            </form>
        </div>
        <div class="comments" id-post="[IDPOST]">
        </div>
    </div>
</div>