<div class="card" style="width: auto">

    <h6><a>Nome e Cognome:</a></h6>
    <p class="post-desc pb-0" id="name-surname">
    </p>

    <h6><a>Email:</a></h6>
    <p class="post-desc pb-0" id="email">
    </p>

    <h6><a>Codice Fiscale:</a></h6>
    <p class="post-desc pb-0" id="tax-code">
    </p>

    <h6><a>Residenza:</a></h6>
    <p class="post-desc pb-0" id="address">

    </p>

    <h6><a>N.tel:</a></h6>
    <p class="post-desc pb-0" id="phone">

    </p>
</div>
