
    <div class="main-wrapper" style="padding-top: 200px;">

        <div class="profile-menu-area bg-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3">
                        <div class="profile-picture-box">
                            <figure class="profile-picture">
                                <a >
                                    <img src="[PROFILEPIC]"
                                         alt="profile picture">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 offset-lg-1">
                        <div class="profile-menu-wrapper">
                            <div class="main-menu-inner header-top-navigation">
                                <nav>
                                    <ul class="main-menu">
                                        <li class="active"><a >Bacheca</a></li>
                                        <li><a id="user-info" id-author="[IDAUTHOR]" >Informazioni</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1">
                    <aside class="widget-area profile-sidebar">
                        <div class="card widget-item">
                            <h4 class="widget-title">[USERNAME]</h4>
                            <div class="widget-body">
                                <div class="about-author">
                                    <p id="bio">BIO PROFILO</p>
                                </div>
                            </div>
                        </div>
                        <div class="card widget-item">
                            <h4 class="widget-title">Foto caricate</h4>
                            <div class="widget-body">
                                <div class="sweet-galley img-gallery">
                                    <div class="row row-5" id="gallery">
                                        <!-- template immagine-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-6 order-1 order-lg-2" id="dashboard">
                </div>
                <div class="col-lg-3 order-3">
                    <aside class="widget-area">
                        <div class="card widget-item">
                            <h4 class="widget-title">Suggeriti</h4>
                            <div class="widget-body">
                                <ul class="like-page-list-wrapper" id="suggested">
                                    <!-- inizio template lista amici -->
                                </ul>
                            </div>
                        </div>
                        <div class="card widget-item">
                            <h4 class="widget-title">Advertisement</h4>
                            <div class="widget-body">
                                <div class="add-thumb">
                                    <a href="#">
                                        <img src="../banner.png" alt="advertisement">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
